*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    border: 0;
}

body {
/*    background-color: grey;*/
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 0;
    color: black;
}

button {
    margin: 2px;
}

a {
    text-decoration: none;
    color: blue;
}

a:visited{
    color: blue;
}

a:active{
    color:blue;
}


li{
    list-style-type: none;
}

nav ul{
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    flex-direction: row;
}

ul{

    list-style: none
}

li a {
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

li a:hover{
    color:black;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.footer{
    position: absolute;
    display: flex;
    flex-direction: row; /*@media*/
    flex-wrap: wrap;
    justify-content: space-evenly;
    bottom: 0;
    width: 100%;
    border: black solid 2px;

}

.Logga{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;
}
.icon{
    width: 20px;
    height: 20px;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 50px;
}

main button{
    
    margin-bottom: 0;
    bottom: 0;
}

.kundkorg{
    padding-bottom: 20px;
}

.produkt{
    width: 80%;
    max-width: 300px;
    padding-bottom: 20px;
}

.kundkorg-produkt img{
    max-width: 400px;
}

.nature{
    height: 300px;
}

.imagebox{
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 40px;
}

.footericons {
    width: 30px;
    height: 30px;
}

.top {
    display: flex;
    justify-content: space-evenly;
    border: black solid 2px;
}

.topicon {
    height: 30px;
    width: 30px;
}

nav {
    margin-top: 10px;
    height: 40px;
    border: black solid 2px;
}

.footer .Validate{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
/*Brytningspunkt för skärmar som är mindre än 600 pixlar*/
@media screen and (max-width: 600px) {
        h1{
            font-size: 20px;
        }

        .topicons {
            height: 20px;
            width: 20px;
        }
}
