*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    border: 0;
}
body {
/*    background-color: grey;*/
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 0;
    color: black;
}
button {
    margin: 2px;
}
a {
    text-decoration: none;
    color: #000;
}
a:visited{
    color: #000;
}
a:active{
    color:#000;
}
li{
    list-style-type: none;
}
.header{
    position: sticky;
    top: 0;
    z-index: 101;
}
nav ul{
    width: 100%;
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    flex-direction: row;
}
ul{

    list-style: none
}
li a {
/*    display: flex;
    justify-content: space-evenly;*/
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
li a:hover{
    color:black;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.Logga{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;
}
.icon{
    width: 20px;
    height: 20px;
}
/*
main {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 50px;
}*/

main button{
    
    margin-bottom: 0;
    bottom: 0;
}
/*--------------------produkter kod-----------------------*/
@media screen and (min-width: 1366px){
    .produkt{
        width: 33%;
    }
    

}
@media screen and (max-width: 1365.98px){
    .produkt{
        width: 50%;
    }
    

}
@media screen and (max-width: 899.98px){
    .produkt{
        width: 100%;
    }
}

.produkt{
    min-width: 360px;
    padding:10px 15px 15px 10px;
    margin: 5px auto 5px;
    border-radius: 25px;
}
.produkt img{
/*    width: 100%;*/
    max-height: 300px;
    overflow: hidden;
    float: left;
    margin-right: 10px
}
.produkter {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    margin:0 auto 0;
    padding-bottom: 50px;    
}
.produkt-namn{
    font-size: 1.2rem;
}
.produktsida {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.kundkorg-produkt img{
    width: 100%;
    max-width: 400px;
}
/*----------------------------------------------------*/
/*--------------------slide kod-----------------------*/
.nature{
    height: 400px;
    max-width: 360px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imagebox{
    margin: auto;
    width: 80%;
    min-height: 300px;
    min-width: 360px;
    overflow: hidden;
    position: relative;
    justify-content: center;
    background-color: rgb(241, 241, 241);
    border-radius: 25px;
}
.imagebox-buttons{
    width: 30px;
    height: 30px;
}
#left{
    position: absolute;
    margin-left: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    width: 20px;
}
#right{
    position: absolute;
    margin-right: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

#caption{
    position: absolute;
    bottom: 10px;
    transform: translateX(-50%);
    left: 50%;
    background-color: #FFF
}
/*--------------------------------------------------*/
.footer{
    position: absolute;
    display: flex;
    flex-direction: row; /*@media*/
    flex-wrap: wrap;
    justify-content: space-evenly;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #000;
    padding-top: 2px;
    background-color: rgb(241, 241, 241);
    margin-top: 10px;
}
.footericons {
    width: 30px;
    height: 30px;
}
/*Kod för valideringsikonerna för CSS och HTML*/
/*.footer .Validate{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}*/
.top {
    display: flex;
    justify-content: space-evenly;
/*    top: 0;*/
    width: 100%;
/*    position: sticky;*/
    background-color: rgb(241, 241, 241);
/*    border: black solid 2px;*/
}
.topicon {
    height: 30px;
    width: 30px;
}
nav {
    margin-top: 10px;
    border-color: black solid;
    background-color: rgb(241, 241, 241);
    border-bottom: 2px;
    border-style: solid;
}

/*Brytningspunkt för skärmar som är mindre än 600 pixlar*/
@media screen and (max-width: 600px) {
        h1{
            font-size: 20px;
        }

        .topicons {
            height: 15px;
            width: 15px;
        }

        nav ul{
            flex-direction: column;
            
        }

        li {
           margin: auto; 
        }

    

}
